<div class="container">
    <div class="wrapper">
        <div class="col-md-3 col-sm-12  wow fadeInLeft delay-05s">
            <div class="section-title">
                <h2 class="head-title">About Us</h2>
                <hr class="botm-line">
                <p class="sec-para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
                    magna aliqua..
                </p>
            </div>
        </div>
        <div class="col-md-9 col-sm-12">
            <p style="padding-left: 20px; padding-right: 20px;">
                <img style="float:left" src="../../assets/img/Astrologer-image.jpg" alt="">
                <span> 
                               <p style="padding-left: 350px; padding-top: 20px"><b>Acharya Amal Shastri</b> has completed his Masters in Astrology from the Maharaja Sayajirao University of Baroda.
                                   <b> Acharya Amalji</b> came to USA in the year 2005 and served here 3 temples as a priest up till the end of Dec. 2016 in New York and In New Jersey.
                                    In India, he was the main man of Ramratna research center and served people for 30 years as a priest, astrologer and as a lover of man kind. 
                                    He toured every nook and corner of India.
                                    Being an old man of 76 years, his main intention is <b> "Om Sarve Vabantu Sukhinah."</b>
                                    May God Bless Every one. </p>
                            </span>
            </p>
            <br /><br />
            <span style="float:right">                        
                <p>
                                We are a research Institution which was established India in the year of 1979 but today we have a website to give our research benefit  to all man kind of the world.
                        </p>   
                        <p>
                                About astrology is concerned, it is well known to every one. Here we are going to serve totally based on our research, how one can get some relief practically?
                            </p> 
                            <p>
                                    We undertake Special Puja for any difficulties due to transition period of any planet as like sare-sati, bad time due to any planet, non favorable time and also mangalik, navagraha or Mritunjaya Hom etc,.
                                    
                                </p>                 
                                <p>
                                        We give free consultation on Vastu shastra, numerology and also on Swapna-Avastha-Dream problem.
                                </p>
                                <p>
                                        We do take attention of progress or to overcome of any hurdles in any field for the development by our special prayer of Divine thought power of transmission.
                                </p>
                                <p><b>
                                        We believe in result with prediction.</b>
                                </p>
                                <p>
                                        We give experimental stone [semi-precious-Quartz] based on Horoscope as per present rotatory condition of planet. [Gochara, Vimshotari dasa, period and sub-sub period] including any question means prasna-Kundali.
                                        No ring is necessary till the satisfaction with required result comes.
                                        We give stone simply based on color therapy of planet and the given stone do not give any result,  you may try for the second color stone in exchange.
                                        We are ready to accept the returned stone in case if you are not happy so we are bound to pay back your money any day any time and it is all at your discretion only. 
                                        No cause or any reason will be asked as we believe in truth.
                                        
                                </p>
                                <p>
                                    <b>Disclaimer :</b>
                                    We do give prediction or result totally based on moon theory of date, time and place of birth for the betterment of viewers and readers but assume no responsibility regarding mishandling of information which anyone may derive from varied sources such as website, telephones, email, personal interaction or from any sources what so ever. 
                                    There are no guarantee that every person will be benefited using this website, depending on various factors as the result may vary from person to person.
                                    We do not take any guarantee or promises regarding any one's future developments of success, earnings or that any one will be benefited in any way such as financially, sudden money or economically by availing our services.
                                    As an exceptional case and also a good gesture of Law of Humanitarian Ground we are even ready to pay back any amount paid to us by check only.
                                </p>
                        </span>

        </div>
        <div class="col-md-9 col-sm-12">


        </div>

    </div>


    <!-- <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
            <li data-target="#carousel-example-generic" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="./assets/img/port01.jpg" alt="">
                <div class="carousel-caption">
                    <h1>Text can be added here</h1>
                    <p>text must be related to the image added</p>
                </div>
            </div>
            <div class="item">
                <img src="./assets/img/port02.jpg" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/port03.jpg" alt="">
            </div>
            <div class="item">
                <img src="./assets/img/port04.jpg" alt="">
            </div>
        </div>

        <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div> -->