<div class="container">
    <div class="wrapper">
  
      <h2 class="cont-title">
     <b>Book an online appointment</b>
      </h2>
      <p>
        This is a complete analysis of your year ahead including love, money, health, property, prosperity, travel. It includes a
        detailed character analysis. I'll tell you which are the aspects of your personality you can build on and which are
        the ones you need to correct. Your Vedic horoscope in PDF format, your lucky number, colors, days come with this. Costs
        $50.
      </p>
      <hr/>
      <h3>
        <b>Appointment Details</b>
      </h3>
      <br />
      <div class="col-md-12">
        <div class="form-group row">
          <label for="fname" class="col-sm-4 col-form-label">Schedule date</label>
          <div class="col-sm-5">
              <input type="date" class="form-control" [(ngModel)]="bookApp.dateOfAppointment">
          </div>
        </div>
        <div class="form-group row">
          <label for="lname" class="col-sm-4 col-form-label">Schedule time</label>
          <div class="col-sm-5">
              <input type="time" class="form-control" [(ngModel)]="bookApp.timeOfAppointment">
          </div>
        </div>
        
        <div class="form-group row">
          <label for="phoneNum" class="col-sm-4 col-form-label">Alternate Phone Number</label>
          <div class="col-sm-5">
            <input type="tel" class="form-control" id="phoneNum" [(ngModel)]="bookApp.alternatePhoneNumber">
          </div>
        </div>
        <div class="form-group row">
            <label for="comment" class="col-sm-4 col-form-label">Comments(optional)</label>
            <div class="col-sm-5">
              <textarea type="text" class="form-control" rows=8 id="comment" [(ngModel)]="bookApp.comments"></textarea>
            </div>
          </div>
          <hr/>
          <div class="form-group row">
              <div class="col-md-6">
                <button type="button" class="btn btn-2 btn-2a" (click)='backToService();' >Back</button>
              </div>
              <div class="col-md-6" style="text-align:right">
                  <button type="submit" class="btn btn-2 btn-2a" (click)='ScheduleAppointment();' >Submit</button>
              </div>
            </div>
        
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>