<div class="container">
  <div class="wrapper">
    <div class="col-md-12" style="text-align: center ">
      <img  src="../../assets/img/checkmark.png" alt="">
      <h1><strong>Thank You!</strong> </h1>
    </div>
    
    <div  class="col-md-12"  style="text-align: center; padding-bottom:150px ">
      <span><br /> <br /> 
                           <p><strong>Please check your email</strong> for further instructions</p>
                           <br />
                           <p>
                              Having trouble? <a href="/contactus">Contact us</a>
                            </p>
                          </span>
    </div>
  </div>
</div>