<div class="main-header" >
 <div class="bg-color">
      <div class="container text-center">
                <div class="wrapper wow fadeInUp delay-05s" >
                    <h2 class="sub-title">Astrology</h2>
                    <!--<h3 class="title">Ram Ratan Astrologer</h3>-->
                    <h4 class="top-title">“I believe if you keep your faith, you keep your trust, you keep the right attitude, if you're grateful, you'll see God open up new doors.” <br /> <br />
―  Joel Osteen </h4><br /><br />
                    <button type="submit" class="btn btn-2 btn-2a">Get Started</button>
                </div>
            </div>
        </div>
</div>
         <router-outlet></router-outlet>